.countdown-wrapper {
  position: static;           /* REMOVE absolute */
  display: flex;
  gap: clamp(1rem, 3vw, 4rem);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cd-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cd-digits {
  display: flex;
  gap: 14px;
}

.cd-box {
  position: relative;

  width: 34px;
  /* narrower middle */
  height: 50px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Courier New", monospace;
  font-size: 32px;
  font-weight: 800;
  color: #111;

  background: #ffffff;

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.9),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15),
    0 3px 6px rgba(0, 0, 0, 0.3);

  position: relative;
  z-index: 1;
}

.cd-digit {
  position: relative;
  z-index: 3;
  line-height: 1;
}

.cd-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  right: -4px;
  height: 20px;

  border-radius: 6px;

  background: #d1cece;

  box-shadow:
    inset 0 1px 0 rgba(12, 19, 116, 0.8);

  z-index: 2;
  pointer-events: none;

}

.cd-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  right: -4px;
  height: 20px;

  border-radius: 6px;

  background: #ffffff;

  box-shadow:
    inset 0 -1px 0 rgba(0, 0, 0, 0.2);

  z-index: 2;
  pointer-events: none;
}

.cd-box.shade {
  background-position: bottom;
}

.cd-label {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.18em;
  color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
  .countdown-wrapper {
    gap: 2rem;
  }

  .cd-box {
    width: 36px;
    height: 44px;
    font-size: 26px;
  }

  .cd-label {
    font-size: 11px;
  }
}