@font-face {
  font-family: "Legends of the Sea";
  src: url("/fonts/LegendsOfTheSea-Regular.woff2") format("woff2"),
       url("/fonts/LegendsOfTheSea-Regular.woff") format("woff");
}

.home-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.hero-section {
  position: relative;
  height: 100vh;
  background-color: #001D80;
  display: flex;
  flex-direction: column; /*For the timer -- change later*/
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: clamp(3rem, 8vw, 6rem);
  font-weight: 800;
  letter-spacing: 0.3em;
  color: black;
}

.hamburger-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background: linear-gradient(to bottom, #0f172a, #020617);
  z-index: 30;
}

.close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  color: white;
}

.sidebar-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.nav-item {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.events-section {
  background-color: #001148;
  padding: 3rem 2rem;
  color: white;
}

.events-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  flex-wrap: wrap
}

.left-content {
  margin-top: -20px;
  flex: 1 1 500px;
  max-width: 600px;
  margin-bottom: 30px;
}

.right-content {
  margin-top: 100px;
  flex: 1 1 400px;
  display: flex;
  align-items: center;
}

.event-gif {
  width: 100%;   
  max-width: 1200px;
  border-radius: 100%;
  height: auto;
}

.section-title {
  font-family: "Legends of the Sea", sans-serif;
  font-size: clamp(3rem, 8vw, 6rem);
  font-weight: 400;
  color: white;
}

.events-text {
  max-width: 600px;
  color: #D6E9FF;
  font-family: 'Imprima', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 3rem;
}

.event-days {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; 
}

.event-card {
  background: none;   
  padding: 0;              
  border-radius: 50%;        
  width: 120px;               
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: scale(1.3);
}

.pufferfish {
  width: 80px;           
  height: 80px;
  object-fit: contain;
}

.event-card span {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: white;
  font-weight: 700;
}

.about-section {
  position: relative;
  align-items: center;
  background-color: #001148;
  padding: 6rem 2rem;
  text-align: center;
}
.about-img{
  position: absolute;
  top:140px;
  left:110px;
}

.about-infin8-img{
  position: absolute;
  top:220px;
  left:180px;

}

.whale{
  position: absolute;
  right:80px;
  top: 30px;
  z-index: 0;
}
.about-text {
  position:relative;
  align-items: center;
  margin: 0 auto;
  max-width: 650px;
  transform: translateX(50px);
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Imprima',sans-serif;
  margin: auto;
  color: #D6E9FF;
}

.team-section {
  background: linear-gradient(to bottom, #0f172a, #020617);
  padding: 6rem 2rem;
  text-align: center;
  color: white;
}

.team-btn {
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  background-color: #bff2f4;
  color: black;
  font-weight: 700;
  border: none;
  cursor: pointer;
  letter-spacing: 0.15em;
}

#contact-us {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg-image{
  height:100vh;
  width:100vw;
}

.shell {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  transition: transform 0.6s ease;
}

.shell1 {
  bottom: 0px;
  width: 220px;
}

.shell2 {
  bottom: 0px;
  left: 2px;
  height:135px;
  width: auto;
}

.iiitb-logo{
  position: absolute;
  bottom: 20px;
  left: 400px;
}

.footer-infin8-logo{
  position: absolute;
  bottom: 10px;
  left: 200px;
  height:600px;
  width:600px;
  
}

.banner{
  position: absolute;
  top:40px;
  width:100vw;
  height:300px;
}

.banner-text{
  display: flex;
  align-items: center;
  position: absolute;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 108px;
  font:bold;
  rotate: +4.1deg;
  top:160px;
  left:-70px;
  width:100vw;
  height: 40px;
}

.banner-text p {
  margin: 0;              
  white-space: nowrap;
}

.get-in-touch{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Archivo',sans-serif;

}

.social-icons {
  position: absolute;
  bottom: 20px;
  right: 100px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  font-family: 'Archivo', sans-serif;
  font-size: 18px;
  color: #2A91FB;
  z-index: 1000;
}

.icon{
  font-size: 30px;
  display: flex;
  justify-content: space-between;

}

.social-icons a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2A91FB;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons a:hover {
  transform: translateX(6px);
  opacity: 0.85;
}


/* ---------- TIMER ------------- */

.timer-loc{
  margin-top: 60px;
  text-align: center;
}

.theme{
  font-size: 30px;
  font-weight: 800;
  color: rgba(5, 8, 168, 0.699);
}

.comingsoon{
  font-size: 20px;
  font-weight: 700;
  color: rgba(5, 8, 168, 0.699);
}

.countdown {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  justify-content: center;
}

.time-box {
  background: rgba(0, 4, 255, 0.382);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 1.4rem;
  border-radius: 12px;
  text-align: center;
  min-width: 80px;
  backdrop-filter: blur(6px);
}

.time-box span {
  font-size: 2rem;
  font-weight: 700;
  display: block;
}

.time-box small {
  font-size: 0.75rem;
  letter-spacing: 1px;
  opacity: 0.8;
}

.countdown-ended {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

/* ---------------------- */
.gallery{
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
  gap: 3rem;
  overflow: hidden;
  align-items: flex-start;
  flex-wrap: wrap;
  background: linear-gradient(#1B4FFE,#072074);
  margin: 0 auto;
}

.moving-image {
  position: relative;
  display: block;
  width: 100%;
  z-index: 2;
  transform-style: preserve-3d;
}

.gallery-img1{
  position: absolute;
  left:10px;
  top:20px;
  width:320px;
  height: 245px;
  border: 10px solid white;
  transform: rotate(-15deg);
  z-index: 1;
}

.gallery-img2 {
  position: absolute;
  left:600px;
  top:20px;
  width:300px;
  height: auto;
  border: 10px solid white;
  transform: rotate(15deg);
}

.gallery-img3 {
  position: absolute;
  right:20px;
  top:20px;
  width:320px;
  height: 250px;
  border: 10px solid white;
  transform: rotate(-10deg);
}

.waves {
  position: absolute;
  top:100px;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.seabed {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.gallery-coral1{
  position: absolute;
  bottom: 30px;
  left: 80px;
}
.gallery-coral2{
  position: absolute;
  bottom: 45px;
  left: 500px;
  
}
.gallery-coral3{
  position: absolute;
  bottom: 30px;
  right:250px;
  
}
.gallery-coral4{
  position: absolute;
  bottom: 80px;
  right: 50px;
  
}
.gallery-coral5{
  position: absolute;
  bottom: 70px;
  left: 360px;
  
}
.gallery-coral6{
  position: absolute;
  bottom: 28px;
  right: 430px;
}

.gallery-coral7{
  position: absolute;
  bottom: 70px;
  right: 140px;
}

.gallery-coral8{
  position: absolute;
  bottom: 110px;
  left: 0px;
  z-index: 2;
}

.gallery-fish{
  position: absolute;
  top: 30px;
  left: 400px;
}
